.background {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 40), rgb(0, 153, 153));
	;
}

.w {
	position: relative;
	width: calc(100vw - 200px);
	margin-left: auto;
	margin-right: auto;
}

.nav {
	position: relative;
	float: left;
}

.btn {
	position: relative;
	width: 40px;
	height: 40px;
	margin-top: 50px;
	margin-left: 50px;
	border-radius: 20px;
	background-color: white;
}


span {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
}

.icon-Browse-all {
	color: rgb(51, 51, 83)
}

.icon-Close {
	color: white
}

.menu {
    display: none;
	position: absolute;
	top: 50px;
	left: 50px;
	width: 300px;
	height: 500px;
	background-color: rgb(0, 0, 40);
	overflow:hidden;	
}

.menu:hover{
	width: 305px;
	overflow-y: scroll;
}
.menu::-webkit-scrollbar{
  width:5px;
}

.menu::-webkit-scrollbar-thumb{
  background-color:#00ffb9;
}

.menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px ;
    background-color: rbg(0,0,40);
    border-radius: 10px;
}

#titleA{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	cursor: pointer;
}
#titleB{
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	cursor: pointer;
}

.toggleColor{
	color: #00ffb9;
}

.tap {
	height: 1px;
	width: 280px;
	margin: 40px 10px 10px 10px;
	background-color: #fff;
}

.firstName {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.firstName div {
	float: left;
	height: 14px;
	width: 1.4px;
	background: linear-gradient(rgb(0, 255, 185), rgb(0, 230, 220));
}

.firstName a {
	display: block;
	float: left;
	margin-left: 7px;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;

}

.menu ul {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;

}

.menu ul li {
	width: 280px;
	overflow: hidden;
	margin-top: 10px;
	padding: 5px 0;
	border-bottom: 1px solid rgb(102, 102, 126);
}

.menu ul li:hover {
	background-color: rgb(102, 102, 126);
}

.logo {
	float: right;
	margin-right: 50px;
	margin-top: 50px;
}
.logo img{
	height: 30px;
}

.controler{
	position: absolute;
	right: 50px;
	top: calc(100vh - 210px);
	width: 40px;
	background-color: #ebebee;
	border-radius: 20px;
}

.controler ul{
	margin-top: 20px 0;
}

.controler ul li{
	font-size: 20px;
	margin: 15px 10px;
}

/* 案例弹窗 */
.case{
	display: none;
	position: absolute;
	top: 150px;
	left: calc(50vw - 400px);
	width: 800px;
	height: 520px;
	background: linear-gradient(rgb(0,24,70), rgb(0,0,40));
	border: 2px solid rgb(0,100,110);

}

.case img{
	float: right;
	margin: 20px 20px 0 ;
	height: 20px;
}

.case span{
	position: absolute;
	top: 20px;
	left: 20px;
	content: "\e90b";
	font-size: 20px;
	color: white;
}

.title{
	float: left;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	height: 20px;
}
.fl{
	float: left;
	height: 20px;
	width: 2px;
	margin-right: 10px;
	background: linear-gradient(rgb(0, 255, 185), rgb(0, 230, 220))
}

.title h4{
	float: left;
	font-size: 20px;
	line-height: 20px;
	color: white;
}

.title p{
	display: block;
	padding-top: 40px;
	color: white;
	font-size: 14px;
	line-height: 25px;
}

.casemenu{
	position: absolute;
	left: 20px;
	top: 200px;
	height: 290px;
	overflow-y: scroll;
}

.casemenu::-webkit-scrollbar{
	width:5px;
	margin-right: 5px;
  }
  
  .casemenu::-webkit-scrollbar-thumb{
	background-color:#00ffb9;
  }
  
  .casemenu::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 1px ;
	  background-color: rbg(0,0,40);
	  border-radius: 10px;
  }
.entercase{
	float: left;
	width: 230px;
	height: 130px;
	background-color: #fff;
	margin-bottom: 20px;
}

.inter{
	float: left;
	width: 28px;
	height: 130px;
}

/* 触发按钮 */
.opencase{
	width: 50px;
	height: 50px;
	background-color: white;
	position: absolute;
	top: 200px;
	left: 100px;

}