/* 背景图 */
body {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 40), rgb(0, 153, 153));
}

/* 控件组和内容组 */
.controlitems {
	display: none;
	position: absolute;
	z-index: 2;
	width: 200px;
	height: 200px;
	left: 100px;
	top: 50px;
}

.contentitems {
	position: absolute;
	z-index: 1;
	width: 1920px;
	height: 100px;
	overflow: hidden;
}

.controlitems .nav {
	position: absolute;
	z-index: 3;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
}

.controlitems .nav:hover {
	background-color: #f3f3f0;
}

.logo {
	position: absolute;
	right: 0;
	height: 30px;
	width: 190px;
	background-image: url('../img/logo.png');
	background-size: cover;
}

.homeitems {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 200px;
	background-color: white;
	border-radius: 20px;
}

.homeitems ul {
	position: absolute;
	margin: 20px 0;
	width: 40px;
	height: 160px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	cursor: pointer;
}

.homeitems ul li {
	padding: 10px 0;
}

.homeitems ul li:hover {
	background-color: #f3f3f0;
}

/* 下拉菜单 */
.menu {
	display: none;
	position: absolute;
	z-index: 4;
	width: 300px;
	height: 550px;
	background-color: rgb(0, 0, 40);
}

/* 菜单头 */
.menuhead {
	width: 280px;
	height: 50px;
	margin: 0 10px;
	border-bottom: 2px solid #ccccd4;
}

.menuhead h3 {
	display: inline-block;
	font-size: 15px;
	line-height: 48px;
	padding: 0 10px;
	cursor: pointer;
}

.menuhead h3:nth-child(1) {
	float: left;
}

.menuhead h3:nth-child(2) {
	float: right;
}

.mtchosen {
	color: #00ffb9;
}

/* 菜单体 */
.menubody {
	width: 300px;
	height: 500px;
	overflow-y: scroll;
}

.menubody::-webkit-scrollbar {
	width: 5px;
	background-color: rgb(0, 0, 40);
}


.menubody::-webkit-scrollbar-track {
	border-radius: 2.5px;
	background-color: rgb(0, 0, 40);
}


.menubody::-webkit-scrollbar-thumb {
	border-radius: 2.5px;
	background-color: #00ffb9;
}

.ulhead {
	height: 15px;
	width: 275px;
	margin: 20px 0 10px 10px;
}

.ulhead span {
	float: left;
	width: 1.5px;
	height: 15px;
	margin-right: 7.5px;
	background: linear-gradient(#00ffb9, #00e6dc)
}

.ulhead h4 {
	float: left;
	font-size: 15px;
	line-height: 15px;
	color: white;
}


.menubody ul li {
	display: block;
	width: 275px;
	margin-left: 10px;
	padding: 10px 0;
	font-size: 13px;
	line-height: 13px;
	color: white;
	cursor: pointer;
}

.menubody ul li:hover {
	color: #00ffb9;
}

/* 详情页 */
.pages {
	display: none;
	position: absolute;
	width: 800px;
	height: 600px;
	left: calc(50vw - 520px);
	top: 100px;
	border: 1px solid rgb(0, 100, 110);
	background: linear-gradient(rgb(0, 0, 40), rgb(0, 85, 124))
}

.icon-CloseB {
	display: block;
	height: 20px;
	width: 760px;
	margin: 20px;
}

.pages h5 {
	color: white;
	font-size: 40px;
	margin-left: 20px;
}

#casebtn {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 300px;
	left: 250px;
	background-color: #fff;
}

#topicbtn {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 270px;
	left: 880px;
	border-radius: 25px;
	background-color: #00557c;
	border: 2px solid #0087be;
	opacity: .8;

}



/* 大底图 */
#btna {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 300px;
	left: 0;
	background-color: #fff;
}

#btnb {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 450px;
	left: 0;
	background-color: #fff;
}

#btnbb {
	display: none;
	position: absolute;
	width: 150px;
	height: 150px;
	top: 220px;
	left: 600px;
}

.pichome img {
	display: none;
	z-index: 1;
	position: absolute;
	top: -50px;
	width: 100%;
}

.pica img {
	display: none;
	position: absolute;
	z-index: 3;
	width: 100%;
}

.picb img {
	display: none;
	position: absolute;
	z-index: 3;
	left: 0px;
	top: 0px;
	width: 100%;
}

.picbb img {
	display: none;
	position: absolute;
	z-index: 3;
	left: -600px;
	top: -200px;
	width: 200%;
}
